.exContainer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.7) 30%, #333 100%);
    position: relative;    
}

.exBody{
    width: 100%;
    height: 100%;
    display: flex;

}
.exLeft{
    flex: 1;
    background-color: rgb(43, 40, 40);
    display: flex;
    flex-direction: column;
}

.experianceTitle{
    flex: 0.2;
    width: 100%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: end;

}

.expeMenu{
    flex: 0.8;
    width: 100%;
}

.expeMenu ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    color: white;
    
}
.expeMenu ul li{
    margin: 15px 0;
    font-weight: bold;
    cursor: pointer;
}
.expeMenu ul li:hover{
    opacity: 0.8;
}
.slected{
    color: yellow;
}

.exRight{
    flex: 3.5;
    height: 100%;
    display: flex;
}

.exRleft{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 100px;
    background: linear-gradient(to top, rgb(26, 24, 24) 0%, rgba(26, 24, 24, 0.9) 10%, #333 15%);
}

.workPlace{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.placeLog{
    flex: 1;
    width: 100%;
    overflow: hidden;

}

.placeLog img{
    width: 100%;
    height: 100%;
}
.placdesc{
    flex: 1;
    width: 100%;
    color: white;
}
.placdesc h3{
    margin-left: 30px;
    margin-top: 30px;
}
.workTitle{
    margin-left: 30px;
    margin-top: 5px;
}
.duration{
    margin-left: 30px;
    margin-top: 5px;
}
.startDate{
    margin-left: 30px;
    margin-top: 5px;
}
.typeOfWork{
    margin-left: 30px;
    margin-top: 5px;
}
.whereWork{
    margin-left: 30px;
    margin-top: 5px;
}

.exRmid{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    background: linear-gradient(to top, rgb(26, 24, 24) 0%, rgba(26, 24, 24, 0.9) 10%, #333 15%);
}

.workImg{
    width: 100%;
    height: 75%;
    display: flex;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;

}

.fixPic{
    position: absolute;
    right: -50px;
    bottom: 100px;
}

.fixImgF{
    position: absolute;
    width: 320px;
    height: 420px;
    bottom: 100px;
}


/* Right side of the page*/

.exRright{
    flex: 1;
    padding-bottom: 100px;
    height: 100%;
    display: flex;
    align-items: end;
    background: linear-gradient(to top, rgb(26, 24, 24) 0%, rgba(26, 24, 24, 0.9) 10%, #333 15%);
}

.exRdesc{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.workSymbol{
    flex: 1;
    display: flex;
    justify-content: center;
}
.workSymbol img{
    width: 50%;
    height: 70%;
}
.taskDesc{
    flex: 1.1;
    display: flex;
    align-items: center;
}


.taskDesc{
    width: 100%;
    height: 100%;
}
.tasks{
    padding-left: 20px;
    padding-top: 15px;
    color: white;
    font-size: 18px;
    padding-right: 20px;
    
}

.tasks p{
    margin-top: 5px;
}

