.projectContainer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.7) 30%, #333 100%);
    color: white;
    display: flex;
}

.pcBody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides{
    width: 90%;
    height: 90%;
    background-color: transparent;
    display: flex;
}
.sLeft{
    flex: 0.3;
    background-color: rgb(10, 10, 10);
}

.sMiddle{
    flex: 6;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 15px;
}


.sMT{
    flex: 1;
    display: flex;
    width: 150%;
    animation: sliderAnimation 7.5s infinite alternate;

}

.sMB{
    flex: 1;
    display: flex;
    width: 150%;
    animation: sliderAnimation 7s infinite alternate;
}

@keyframes sliderAnimation{
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-400px);
    }
}

.sMTBox{
    width: 150%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sRight{
    flex: 0.3;
    background-color: rgb(10, 10, 10);
    
}


