.mainPage{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #000000 0%, #000005 5%, #000010 10%, #000015 15%, #000020 20%, #000030 25%, #0b0b25 30%, #030311 100% );    
    background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.7) 30%, #333 100%);
    color: white;
    display: flex;
    
}


.mainLeft{
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 150px;
    padding-left:13%;
}
.titleText{
    padding: 5px 30px;
    background-color: white;
    color: black;
    border-radius: 3px;
}
.titleText p {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

.myName{
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.myName p{
    font-size: 130px;
    font-weight: bold;
    font-style:oblique;
}

.jobTitle{

}
.jobTitle p{
    font-size: 33px;
    letter-spacing: 0.5cm;
}

.mainRight{
    flex: 1;
    
}