.accuil{
    transform: translate(100%);
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    transition: ease 0.5;
}
.accuilTransition{
    transform: translate(0);
}

.accuilBody{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.rightAccuil{
    flex: 1.5;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
}

.wrapper{
    width: 80%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    margin-left: 12%;
    transform: scale(0.9);
    
}



.itmes{
    background-color: #82c2ec;
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    
}
.itmes a{
    text-decoration: none;
    color: rgb(37, 5, 5);
}
.items:hover {
    transform: scale(1.1);
  }
.leftAccuil{
    flex: 1;
    display: flex;    
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.leftAccuil .imgdiv{
    flex: 1.5;
    padding-right: 150px;
}

.leftAccuil p{
    flex: 0.5;
    position: relative;
    top: 150px;
    left: -60px;
    font-size: 1.3rem;
   
}







