.quotes{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backmark{
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid white;
    padding: 2px 15px;
    cursor: pointer;
}


.quotesContainer{
    background-image: url("./images/qbg1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, auto);
    background-color: transparent;
    padding-top: 50px;
}

.qcdiv{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.qcdiv p {
    width: 60%;
    display: flex;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-style: italic;
    
}


